__pycache__/
*.pyo
*.pyd
*.pyc
.git/
.gitignore

artifacts/
models/
mlruns/
reports/
predictions/
notebooks/

airflow/logs/
airflow/plugins/__pycache__/
airflow/config/
.airflow/

data/interim/
data/processed/

venv/
.venv/
env/
.env
.env.*
gateway/.htpasswd

*.log
tmp/
temp/
.cache/