# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Environnements virtuels
.venv/
venv/
env/
ENV/

# IDE / Editeurs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Fichiers générés par MLflow et artéfacts
artifacts/
models/
mlruns/
reports/
predictions/

# Fichier de données généré par le script d'entraînement
data/interim/
data/processed/


# MLRuns
C/

# Logs
logs/
*.log

# MLflow / local DB
mlflow.db
*.db
*.sqlite
*.sqlite3

# Airflow
airflow/logs/
airflow/plugins/__pycache__/
airflow/.env
airflow/airflow.cfg
airflow/standalone_admin_password.txt

.airflow/
dags/__pycache__/

# Docker / local secrets
.env
.env.*
!.env.example

gateway/.htpasswd
*.pem
*.key
secrets/
docker-data/

# NLTK / cache / temp
nltk_data/
.cache/
tmp/
temp/.dvc/ 
.dvc/
.vscode/ 
notebook/
