numpy == 2.4.2
pandas == 2.3.3
matplotlib == 3.10.8
scikit_learn == 1.8.0
scikit-optimize
xgboost == 3.1.1
joblib
nltk
dvc
mlflow
docker
fastapi
uvicorn
pydantic
python-nginx
apache-airflow
prometheus-client
grafana-client
requests